body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:darkgrey;
}

.buttons{
    display: flex;
    justify-content: space-evenly;
}
